@import "tailwindcss";


@layer base {
    main {
        @apply min-h-screen flex flex-col items-center
    }

    h1 {
        @apply text-4xl font-bold mt-10
    }
}

@layer components {
    .to-do-wrapper {
        @apply flex flex-col w-screen items-center;
    }


    .to-do {
        @apply flex flex-col bg-gray-200 w-1/3 gap-5 px-4 py-4 mt-5 rounded-lg relative;

        h2 {
            @apply text-xl font-medium;
        }

        .date-time-info {
            @apply flex gap-5;

            .date-info {
                @apply flex gap-2;
            }

            .time-info {
                @apply flex gap-2;
            }
        }

        .dropdown {
            @apply absolute right-7 top-9 bg-white rounded-2xl w-8 h-8 p-1;
        }

    }
}
