@import "tailwindcss";


@layer base {
    main {
        @apply min-h-screen flex flex-col items-center
    }

    h1 {
        @apply text-4xl font-bold mt-10
    }
}

@layer components {
    .to-do-wrapper {
        @apply flex flex-col w-screen items-center;
    }

    .no-items-message {
        @apply mt-10 text-base
    }

    .task-message {
        @apply mt-10 font-bold text-xl self-start ml-[33%]
    }



    .add-to-list {
        @apply flex flex-col bg-gray-200 w-1/3 p-4 rounded-lg mt-10 gap-2;

        h2 {
            @apply font-bold text-2xl text-center;
        }

        .input-label {
            @apply flex;
        }

        label {
            @apply w-1/6 font-medium;
        }

        input {
            @apply border border-gray-600 w-5/6 bg-white px-1;
        }

        button {
            @apply bg-gray-400 text-white font-medium py-1 rounded-lg mt-2 w-2/3 self-center hover:bg-gray-500 hover:cursor-pointer;
        }

    }


    .to-do {
        @apply flex flex-col bg-gray-200 w-1/3 gap-5 px-4 py-4 mt-5 rounded-lg relative;

        h2 {
            @apply text-xl font-medium;
        }

        .date-time-info {
            @apply flex gap-5;

            .date-info {
                @apply flex gap-2;
            }

            .time-info {
                @apply flex gap-2;
            }
        }

        .dropdown {
            @apply absolute right-7 top-9 bg-white rounded-2xl w-8 h-8 p-1 cursor-pointer;
        }

        .options {
            @apply flex flex-col absolute top-17 left-110 z-100 bg-white w-50 text-lg font-medium rounded-lg px-3 border border-gray-600;

            button {
                @apply hover:bg-gray-200 cursor-pointer;
            }
        }

    }
}
